<div class="carousel__holder">
  <div class="carousel"
       data-flickity='{ "cellAlign": "center", "lazyLoad": 5, "pageDots": false, "fullscreen": true}'>
    {% for item in page.carousels[0].images %}
    <div class="carousel-cell">
      <img data-flickity-lazyload="{{item.url}}" alt="{{item.caption}}" width={{item.width}} height={{item.height}}>
      {% if item.caption %}
      <span class="archive__item-caption">{{ item.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>


<style>
  .carousel__holder {
    width: 100%;
    position: relative;
    padding-bottom: {{ include.height }}{{ include.unit }};
    margin: 1rem 0 1rem;
  }

  .carousel-cell {
    width: 100%; /* full width */
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }

  .carousel__holder.is-fullscreen {
    z-index: 11;
  }

  .flickity-enabled.is-fullscreen ~ .footer__wrapper {
    display: none !important;
  }

  .carousel-cell img {
    display: block;
    max-height: 100%;
  }
</style>
