<div class="carousel__holder">
  <div class="main-gallery js-flickity"
       data-flickity-options='{ "cellAlign": "center", "lazyLoad": 5, "pageDots": false, "fullscreen": false}'>
    {% for item in page.carousels[2].images %}
    <div class="carousel-cell">
      <img data-flickity-lazyload="{{item.url}}" alt="{{item.caption}}" width={{item.width}} height={{item.height}}>
      {% if item.caption %}
      <span class="archive__item-caption">{{ item.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>


<style>
  .carousel__holder {width: 100%; position: relative; padding-bottom: {{ include.height }}{{ include.unit }}; margin: 1rem 0 1rem;}
</style>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>