{% capture city_logo_path %}{{ site.city_logo_footer | default: site.city_logo }}{% endcapture %}
{% capture logo_path %}{{ site.logo_footer | default: site.logo }}{% endcapture %}

<div class="footer__wrapper">
  <div class="feature__item">
    <div class="archive__item">
      <div class="archive__item-body">
        <br>
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}
        <br>
    </div>
    </div>
  </div>
  <div class="feature__item">
    <div class="archive__item">
      <div class="archive__item-body">
        <i class="fas fa-envelope" style="color: #ffffff;"></i> plan-paysage-quimper@facettes.bzh
      </div>
    </div>
  </div>
  <div class="feature__item">
    <div class="archive__item">
      <div class="archive__item-body">
        {% unless city_logo_path == empty %}
        <a class="footer-logo" href="{{ '/' | relative_url }}"><img src="{{ city_logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        {% unless logo_path == empty %}
        <a class="footer-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
      </div>
    </div>
  </div>
</div>