---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.woff2");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("fonts/Poppins-Regular.woff2") format("woff2"), url("fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Bold.ttf");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Poppins-Bold.woff2") format("woff2"), url("fonts/Poppins-Bold.woff") format("woff"), url("fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Light.ttf");
  src: local("Poppins Light"), local("Poppins-Light"), url("fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Poppins-Light.woff2") format("woff2"), url("fonts/Poppins-Light.woff") format("woff"), url("fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-SemiBold.ttf");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Poppins-SemiBold.woff2") format("woff2"), url("fonts/Poppins-SemiBold.woff") format("woff"), url("fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Medium.ttf");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Poppins-Medium.woff2") format("woff2"), url("fonts/Poppins-Medium.woff") format("woff"), url("fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#map {
    width: 100%;
    height: 300px;
}