/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$text-color: #0c3922 !default;
$muted-text-color: #0c3922 !default;
$primary-color: #20498d !default;
$border-color: mix(#fff, #20498d, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #20498d !default;
$link-color-visited: $link-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* headline scale */
$h-size-1: 1.563em !default; // ~25.008px
$h-size-2: 1.125em !default; // ~18px equal to h3
$h-size-3: 1.125em !default; // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
